body {
    background-color: #001f3f;
    color: #6f8ef4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
}

a {

    text-decoration-thickness: auto;
}
a:visited {
    text-decoration-thickness: 1.3em;
    color: white;
}
a:hover {
    color: gold;
}