body {
    background-color: #1b0384;
    color: #6f8ef4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration-thickness: auto;
    &:visited {
        text-decoration-thickness: 1.3em;
    }
}